<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.HSQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://terraform-20240907084807457300000001.ctuqaiq2gbck.eu-north-1.rds.amazonaws.com:3306/stockManagement</property>
        <property name="hibernate.connection.username">admin</property>
        <property name="hibernate.connection.password">password</property>
        <mapping class="es.ayozehp.car.stock.model.User"/>
        <mapping class="es.ayozehp.car.stock.model.Product"/>
        <mapping class="es.ayozehp.car.stock.model.Order"/>
    </session-factory>
</hibernate-configuration>
