name: app

on:
  push:
    branches: [ main ]
    paths-ignore:
      - 'infrastructure/**'

env:
  SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}

jobs:
  security:
    name: Run security checks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Run Snyk to check for vulnerabilities
        uses: snyk/actions/maven-3-jdk-22@master
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          args: --severity-threshold=high
  build:
    name: Build artefact
    runs-on: ubuntu-latest
    needs: security
    steps:
      - uses: actions/checkout@master
      - name: Set up JDK 22 for x64
        uses: actions/setup-java@v4
        with:
          java-version: '22'
          distribution: 'temurin'
      - name: Create war file
        run: mvn clean package
      - name: Create docker image
        run: docker build . -t ayozehp/car-stock
      - name: Run Snyk to check Docker image for vulnerabilities
        uses: snyk/actions/docker@master
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          image: ayozehp/car-stock
          args: --severity-threshold=high
