name: app

on:
  push:
    branches: [ main ]

env:
  SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}

jobs:
  security:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Run Snyk to check for vulnerabilities
        uses: snyk/actions/maven-3-jdk-22@master
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          args: --severity-threshold=high
  build:
    runs-on: ubuntu-latest
    needs: security
    steps:
      - uses: actions/checkout@master
      - name: Set up JDK 22 for x64
        uses: actions/setup-java@v4
        with:
          java-version: '22'
          distribution: 'temurin'
      - name: Check mvn version
        run: mvn --version
      - name: Check java version
        run: java --version
      - run: mvn clean package
      - uses: actions/upload-artifact@v4
        with:
          name: Package
          path: target/car_stock.war